@use '../utils/' as *;

html{
  font-size: 100%;
  box-sizing: border-box;
}

html, body, .App {
  min-height: 100vh;
}

body{
  padding: 0;
  margin: 0;
  font-family: $f-archivo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  display: block;
}

*, *::before, *::after{
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}